<div class="inset-0 flex flex-col min-w-0 bg-gray-100">
  <div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-gray-100">
    <!-- Header -->
    <div
      class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between sm:pt-1 py-1 px-1 border-b bg-white dark:bg-transparent">
      <div class="flex flex-row bg-white dark:bg-transparent">
        <!-- Back button -->
        <button pButton type="button" icon="pi pi-arrow-left" class="p-button-text" (click)="onBackToList()"></button>
        <div class="flex ml-2 text-lg items-center font-medium">
          Thông tin suy diễn
        </div>
      </div>

      <div class="flex flex-row space-x-2">
        <input type="text" pInputText class="" [(ngModel)]="model" placeholder="Nhập luật" />
        <button pButton type="button" label="Suy diễn" icon="pi pi-search" class="p-button-info"
          (click)="onReasoner()"></button>
      </div>
    </div>

    <!-- body -->
    <div class="flex-auto sm:p-3 overflow-y-auto bg-card bg-gray-100  space-y-2" cdkScrollable>
      <ng-container *ngIf="data; else elseBlock">
        <p-accordion>
          <p-accordionTab header="Costar">
            <div class="border-1 border-gray-300 rounded bg-white p-4 space-y-4 w-4/5  ml-auto mr-auto">
              <div class="flex flex-col space-y-4">
                <!-- <div>{{data}}</div> -->
                <div *ngFor="let i of costar">
                  <div>{{i}}</div>

                </div>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="participateProductionReleaseWith">
            <div class="border-1 border-gray-300 rounded bg-white p-4 space-y-4 w-4/5  ml-auto mr-auto">
              <div class="flex flex-col space-y-4">
                <!-- <div>{{data}}</div> -->
                <div *ngFor="let i of participateProductionReleaseWith">
                  <div>{{i}}</div>

                </div>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="coProduction">
            <div class="border-1 border-gray-300 rounded bg-white p-4 space-y-4 w-4/5  ml-auto mr-auto">
              <div class="flex flex-col space-y-4">
                <!-- <div>{{data}}</div> -->
                <div *ngFor="let i of coProduction">
                  <div>{{i}}</div>

                </div>
              </div>

            </div>
          </p-accordionTab>
          <p-accordionTab header="coProductionRelease">
            <div class="border-1 border-gray-300 rounded bg-white p-4 space-y-4 w-4/5  ml-auto mr-auto">
              <div class="flex flex-col space-y-4">
                <!-- <div>{{data}}</div> -->
                <div *ngFor="let i of coProductionRelease">
                  <div>{{i}}</div>

                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </ng-container>

      <ng-template #elseBlock>
        <div class="border-1 border-gray-300 rounded bg-white p-4 space-y-4 w-4/5  ml-auto mr-auto">
          <div class="flex flex-col space-y-4">
            <!-- <div>{{data}}</div> -->
            <div *ngFor="let i of data">
              <div>{{i}}</div>

            </div>
          </div>
        </div>
      </ng-template>


    </div>
  </div>
